<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue Native</h2>
      <h1>
        The Progressive<br>JavaScript Framework For <br> Mobile App
      </h1>
      <p>
        <a class="button white" href="<%- url_for("/v2/guide/") %>">GET STARTED</a>
        <a class="button gray has-icon" href="https://github.com/GeekyAnts/vue-native-core" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>
