<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>


<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue Native</h2>
      <h1>
        Build native mobile apps using JavaScript and VueJs
        <!-- The Progressive<br>JavaScript Framework For Mobile App -->
      </h1>
      <p>
        <a class="button white" href="<%- url_for("/docs/installation.html") %>">GET STARTED</a>
        <a class="button gray has-icon" href="https://github.com/GeekyAnts/vue-native-core" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <div>
      <div style="font-size: 22px">Quick hello world Example</div>
      <figure class="highlight html" style="margin-left: 0;"><table><tbody><tr><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">template</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="name">view</span> <span class="attr">class</span>=<span class="string">"container"</span>&gt;</span></span><br><span class="line">    <span class="tag">&lt;<span class="name">text</span> <span class="attr">class</span>=<span class="string">"text-color-primary"</span>&gt;</span>{{message}}<span class="tag">&lt;/<span class="name">text</span>&gt;</span></span><br><span class="line">    <span class="tag">&lt;/<span class="name">view</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;/<span class="name">template</span>&gt;</span></span><br></pre></td></tr></tbody></table></figure>
      <figure class="highlight js" style="margin-left: 0;"><table><tbody><tr><td class="code"><pre><span class="line">&lt;script&gt;</span><br><span class="line"><span class="keyword">export</span> <span class="keyword">default</span> {</span><br><span class="line">  data: <span class="function"><span class="keyword">function</span>(<span class="params"></span>) </span>{</span><br><span class="line">    <span class="keyword">return</span> {</span><br><span class="line">      message: <span class="string">"Hello World"</span></span><br><span class="line">    };</span><br><span class="line">  }</span><br><span class="line">};</span><br><span class="line">&lt;<span class="regexp">/script&gt;</span></span><br></pre></td></tr></tbody></table></figure>
      <figure class="highlight" style="margin-left: 0;"><table><tbody><tr><td class="code"><pre><span class="line">&lt;<span class="selector-tag">style</span>&gt;</span><br><span class="line"><span class="selector-class">.container</span> {</span><br><span class="line">  <span class="attribute">flex</span>: <span class="number">1</span>;</span><br><span class="line">  <span class="attribute">background-color</span>: white;</span><br><span class="line">  <span class="attribute">align-items</span>: center;</span><br><span class="line">  <span class="attribute">justify-content</span>: center;</span><br><span class="line">}</span><br><span class="line"><span class="selector-class">.text-color-primary</span> {</span><br><span class="line">  <span class="attribute">color</span>: blue;</span><br><span class="line">  <span class="attribute">font-size</span>: <span class="number">30</span>;</span><br><span class="line">}</span><br><span class="line">&lt;/style&gt;</span><br></pre></td></tr></tbody></table></figure>
    </div>
    <div class="hello-world-container" style="max-width: 350px;">
      <div class="hello-world-wrapper" style="margin-top: 30px">
        <img src="/images/hello_world.jpg" class="img-wrapper"  style="width: 100%; height: auto"/>
      </div>
    </div>
  </div>
  <div style="text-align: left;font-size: 22px;">More examples</div>
  <div style="text-align: left;font-size: 22px;">
    <a class="button white" style="padding: 0.25em 0.5em;font-size: 0.9em;" target="_blank" href="https://github.com/ankitsinghania94/vue-native-todo-app">Todo App</a>
  </div>
</div>
