<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>Vue Native</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
   <div class="hire-us">
    <a href="https://geekyants.com/hire" target="_blank"><img src="<%- url_for("/images/logo_new.png ") %>"><span>Hire Us</span></a>


 </div>


</div>

