@import "_common"
@import "_header"
@import "_sidebar"
@import "_sponsors-index"
@import "_modal"

$width = 900px
$space = 40px
$sm-width = 420px

html
  height: 100%
  weight: 100%

body
  display: flex
  flex-direction: column
#header
  border-bottom:1px solid #f0eff0
  #logo
    display:none
.title
  font-size: 18px;
  line-height: 26px;

.m-t-50
 margin-top:50px
.card
 background: #f2f2f2;
 padding: 25px 40px;
 margin: 20px 0px;
#logo
  span
    font-size: 1.2em
  img
    display: none

.emoji
  height: 1.15em;
  width: 1.15em;
  padding: 0 .05em 0 .1em;
  vertical-align: -.2em;

.sidebar
  display: none

#mobile-bar
  &.top
    background-color: transparent
    box-shadow: none
    display: none
    .logo
      display: none
.text-center
  text-align:center
p
 a
  color:$green
.flex-wrap
  display: flex;
  align-items: center;
  justify-content:center
  &.get-started
    div
      margin-right:15px

.key-feature-container
  justify-content: center
  width:100%

  .key-feature
    ul
      padding-left:15px
    .title
      font-size:24px
      margin-bottom:20px
    li
      font-size:18px
      line-height:34px
.start-build
 font-size:32px;
 color:#6a6a6a;
:focus 
 outline: 0 
#mc_embed_signup
 margin-bottom:100px
  

.mc-field-group
  display: -webkit-box     
  display: -moz-box         
  display: -ms-flexbox      
  display: -webkit-flex    
  display: flex
  justify-content: center
  .button
   padding: 0.75em 2em
   border-radius: 2em
   display: inline-block;
   color: #fff;
   background-color: #4fc08d
   transition: all 0.15s ease
   box-sizing: border-box
   border: 1px solid #4fc08d
  #mce-EMAIL
    padding: 0.75em 2em
    border-radius: 2em;
    display: inline-block
    color: #fff
    box-sizing: border-box
    margin: 1em 0.1em
    font-size: 1.05em
    font-weight: 300
    letter-spacing: 0.1em
    min-width: 8em
    border: 1px solid #f2f2f2
    color:#333
    &.mce_inline_error
     display:block !important
     border-color: red !important
  .mce_inline_error
   display:none !important
 

   
#hero
  background-color: #fff
  max-width: 884px
  margin: 0 auto;

  .deprecation-notice-homepage
    color: #000000
    background-color: #ffe56440
    font-size: 18px
    text-align: center
    margin: 0 -30px
    margin-bottom: 30px
    padding: 15px
    margin-top: 60px
    border-radius: 5px

  .hero-inner
    padding-top: 40px
    border-bottom:2px solid #f2f2f2

  .inner
    margin: 0 auto;
    max-width:598px
  .left, .right
    display: inline-block
    vertical-align: top
  .left
    width: 39%
  .right
    width: 61%
  .herologo
    display:flex
    height:67px
    justify-content:center
    align-items:center
    img
     width:100px
     height:auto

    p
     font-family: $logo-font
     font-weight: 300
     font-size: 45px
     margin-left: 20px

  .intro
   font-size: 26px
   line-height: 37px
   padding: 50px 0px 15px 0px
   color:#6a6a6a
  .vue-exam
   margin-top:30px
   img
    display:table
    vertical-align:bottom
    

  h1
    font-weight: 300
    margin: 0
    font-size: 3.2em
  h2
   font-weight: 500;
   font-size: 38px;
   margin: 0;
   line-height: 50px;
   color: #333;

  .button
    margin: 1em 0.1em
    font-size: 1.05em
    font-weight: 600
    letter-spacing: .1em
    min-width: 8em
    text-align: center
    &.green
     background:$green
    &:not(:last-child)
      margin-right: 1%
  .social-buttons
    list-style-type: none
    padding: 0
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px

#special-sponsor
  background-color: #fff
  text-align: center
  padding-bottom: 30px
  h3
    margin 0
  a
    color $light
    margin 8px 0
  a, span, img
    display: inline-block
    vertical-align: middle
  img
    margin: 0 15px

#highlights
  background-color: #fff
  padding-bottom: 70px
  .inner
    max-width: $width
    margin: 0 auto
    text-align: center
  .point
    width: 33%
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 0 2em
    h2
      color: $green
      font-size: 1.5em
      font-weight: 400
      margin: 0
      padding: .5em 0
    p
      color: $light

#footer
  padding: $space 0
  color: #fff
  text-align: center
  .social-icon
    margin 0 5px
    svg
      width 18px
      height 18px
  a
    font-weight: 700
    color: #fff
.exam-app
    justify-content: space-around;
    margin-bottom: 50px;
  img
    height:auto
    width:100%
  .app-name
    background: #42b983
    width: 100%
    display: block
    padding: 8px 0
    text-align: center
    color: #fff
  .img-wrap
    display:flex
    img
     margin-right:30px
  
.footer-socials
 padding:0
 margin:0
 li
  list-style:none
  a
   display: block
   width: 40px
   height: 40px
   border-radius: 40px
   display: flex
   align-items: center
   justify-content: center
   transition: all 0.15s ease;
   &:hover
    background: $green
    color:#fff


@media screen and (max-width: $width)
 
  body
    -webkit-text-size-adjust: none
    font-size: 14px
    .hire-us
      margin-right:0

  .sidebar
    display: block
  #mobile-bar
    display: block
  .flex-column
    flex-direction:column
    align-items:center
  .card
   margin-right:0 !important
  #hero
    padding: 40px 10px
    width: 90%
    .hero-logo
      float: none
      margin: 30px 0 15px
      width: 140px
      height: 140px
    .left, .right
      text-align: center
      width: 100%
    h1
      font-size: 2em
    h2
      display: block
    .button
      font-size: .9em
    .mc-field-group #mce-EMAIL
     font-size: .9em
  #special-sponsor
    span
      display: block
    img
      width: 125px
  #highlights
    .point
      display: block
      margin: 0 auto
      width: 300px
      padding: 0 40px 30px
      &:before
        content: "—"
        color: $green
@media screen and (max-width: $sm-width)
 body
  .get-started
    flex-direction: column;
    div
     margin-right:0 !important
  #hero
   .herologo 
    p
     margin-left:0
